
@using WebMatrix.Data;
@{
    var db = Database.Open("WaterQuality"); // Replace with your database name
    var paramID = Request["id"]; // Get the parameter ID from the request
    var param = db.QuerySingle("SELECT * FROM TestParameters WHERE paramID = @0", paramID);
}



<div>
    <h2 class="text-center">Update Parameter</h2>
</div>


<form method="post" action="/Parameter/Edit">

    <input type="hidden" name="id" value="@paramID">

    <div class="form-group">
        <label for="paramName">Parameter Name</label>
        <input type="text" class="form-control" id="paramName" name="paramName" value="@param.paramName">
    </div>

    <div class="form-group">
        <label for="units">Units</label>
        <input type="text" class="form-control" id="units" name="units" value="@param.units">
    </div>

    <div class="form-group">
        <label for="healthGuideline">Health Guideline</label>
        <input type="text" class="form-control" id="healthGuideline" name="healthGuideline" value="@param.healthGuidline">
    </div>

    <div class="form-group">
        <label for="aestheticGuideline">Aesthetic Guideline</label>
        <input type="text" class="form-control" id="aestheticGuideline" name="aestheticGuideline" value="@param.aestheticGuidline">
    </div>

    <div class="form-group">
        <label for="paramDescription">Description</label>
        <textarea class="form-control" id="paramDescription" name="paramDescription">@param.paramDescription</textarea>
    </div>

    <button type="submit" class="btn btn-outline-success">Save Changes</button>
</form>


@if (IsPost)
{
    // Retrieve edited form data
    
    var paramName = Request.Form["paramName"];
    var units = Request.Form["units"];
    var healthGuideline = Request.Form["healthGuideline"];
    var aestheticGuideline = Request.Form["aestheticGuideline"];
    var paramDescription = Request.Form["paramDescription"];

    // Update the database with the edited values
    var updateQuery = "UPDATE TestParameters SET paramName = @0, units = @1, healthGuidline = @2, aestheticGuidline = @3, paramDescription = @4 WHERE paramID = @5";
    db.Execute(updateQuery, paramName, units, healthGuideline, aestheticGuideline, paramDescription, paramID);
    
    // Redirect to a success page or another page as needed
    Response.Redirect("/Parameter/Index");

 }